<div class="row">
    <div class="space-bottom-2x">
        <h2 class="text-uppercase text-gray text-thin space-bottom">Admin-panel</h2>
        <a href="/ShopEntities/Index" class="btn btn-square btn-sm btn-default waves-effect waves-light">Shops</a>
        <a href="/MenuCategoryEntities/Index" class="btn btn-square btn-sm btn-default waves-effect waves-light">Categories</a>
        <a href="/MenuItemEntities/Index" class="btn btn-square btn-sm btn-default waves-effect waves-light">Dishes</a>
        @*<a href="#" class="btn btn-square btn-sm btn-default waves-effect waves-light">Success button</a>
        <a href="#" class="btn btn-square btn-sm btn-default waves-effect waves-light">Warning button</a>
        <a href="#" class="btn btn-square btn-sm btn-default waves-effect waves-light">Danger button</a>*@
    </div>
</div>
