
<div style="padding-right:105px; padding-bottom:15px; margin-bottom:15px" class="item origin-menu-item">
    <div class="img-wrap">
        <img class="img-circle" src="~/Resourses/img/Poke/IMAGE_30463.JPG" alt="Item">
    </div>
    <div class="item-details">
        <h3 class="item-title">The Salmon - <span class="item-price">108 kr</span> </h3>
        <p style="margin-bottom:0;">
            Wakamesallad, picklad rödlök, sojabönor, inlagd ingefära, gurka, rödkål, rädisor & vårlök.
            Toppas med chilimajo, teriyakisås och svart masagorom.
        </p>
    </div>
    <a href="#" class="item-remove" data-toggle="tooltip" data-placement="top" title="Remove item">
        <i class="material-icons remove_shopping_cart"></i>
    </a>
    <div style="position:absolute; right:0; top: 40px" class="count-input">
        <a class="incr-btn" data-action="decrease" href="#">–</a>
        <input disabled class="quantity" type="text" value="2">
        <a class="incr-btn" data-action="increase" href="#">+</a>
    </div>
</div>