        <!-- Menu -->
<div class="toolbar-section" id="menu">
    <div class="inner">
        <ul class="main-navigation space-bottom">
            <li class="menu-item-has-children current-menu-item">
                <a href="#">Butik: Helsingborg city</a>
                <ul class="sub-menu">
                    <li><a href="#">Helsingborg city</a></li>
                    <li><a href="#">Maria park</a></li>
                </ul>
            </li>
            <li><a href="~/">Hem</a></li>
            <li><a href="#home">Meny / Beställ</a></li> @*Om man e på index*@
            <li><a href="~/Home/About">Om oss</a></li>
            <li><a href="~/Home/Contact">Kontakt</a></li>  
            <li class="menu-item-has-children current-menu-item">
                <a href="#">Templates</a>
                <ul class="sub-menu">
                    <li class="current-menu-item"><a href="~/Resourses/index.html">Home Version 1</a></li>
                    <li><a href="~/Resourses/home-v2.html">Home Version 2</a></li>
                    <li><a href="~/Resourses/home-v3.html">Home Version 3</a></li>
                    <li><a href="Resourses/elements.html">Elements</a></li>
                </ul>
            </li>
        </ul><!-- .main-navigation -->
        <ul class="list-icon text-sm">
            <li>
                <i class="material-icons location_on"></i>
                Mariagatan 2, 252 23 <br />Helsingborg Sverige              
            </li>
            <li>
                <i class="material-icons phone"></i>               
                    076-317 35 99
            </li>
    
        </ul><!-- .list-icon -->
    
        <div class="social-bar display-inline">
            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="socicon-facebook"></i>
            </a>
            <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                <i class="socicon-twitter"></i>
            </a>
            <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                <i class="socicon-instagram"></i>
            </a>
        </div>
    </div><!-- .inner -->
</div><!-- .toolbar-section#menu -->
