<div class="slide" style="height:90vh; background-image: url(../../Resourses/img/Poke/MangoPokeBowl_NotOk.jpg);">
    <div class="container">
        <div class="absolute from-top" style="top: 13%">
            <span class="h1 white">Poke bowls</span>
        </div>
        <div class="absolute text-right from-bottom" style="bottom: 15%; right: 15px;">
            <span class="h2 white"><span class="text-thin">Hungrig?</span></span><br>
            <a href="#home" class="btn btn-primary btn-with-icon-right waves-effect waves-light space-top-none white">
                Meny / Beställ
                <i class="material-icons arrow_downward"></i>
            </a>
        </div>
    </div>
</div><!-- .slide -->
