@model PokeBowlWebApplication.Models.AuthenticationModels.LoginModel

<!-- Account (Login) -->
<div class="toolbar-section" id="account">
    <h3 class="toolbar-title space-bottom">Logga in här</h3>
    <div class="inner loginFormWrap">
  
    @{ 
        Html.RenderPartial("_LoginForm",Model);
    }

        <p class="text-sm space-top">Har du ingen användare? <a href="#signup" class="toggle-section">Registrera dig här</a></p>
    </div><!-- .inner -->
</div><!-- .toolbar-section#account -->

