
@model PokeBowlWebApplication.Models.AuthenticationModels.RegisterViewModel

<!-- Account (Sign Up) -->
<div class="toolbar-section" id="signup">
    <h3 class="toolbar-title space-bottom">Registrera användare</h3>
    <div class="inner">
        <form method="post" class="login-form">
            <label>E-post</label>
            <input autocomplete="username" type="email" class="form-control" placeholder="E-post" required>
            <label>Lösenord</label>
            <input autocomplete="new-password" type="password" class="form-control" placeholder="Lösenord" required>
            <label>Lösenord igen</label>
            <input autocomplete="new-password" type="password" class="form-control" placeholder="Lösenord igen" required>
            <div class="form-footer">
                <div class="rememberme"></div>
                <div class="form-submit">
                    <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Registrera</button>
                </div>
            </div>
        </form><!-- .login-form -->
        <p class="text-sm space-top">Har du redan ett konto? <a href="#account" class="toggle-section">Logga in här</a></p>
    </div><!-- .inner -->
</div><!-- .toolbar-section#account -->
